{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      {% for book in books %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{{ book.cover_image.url }}" alt="{{ book.title }} cover" style="max-height: 60vh ;min-height: 400px">
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-text">{{ book.author }}</p>
            <a href="{% url 'book_download' book.id %}" class="btn btn-primary">Download</a>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="col-md-12">
        <p>No books have been uploaded yet.</p>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

