{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
      <img src="{{ book.cover_image.url }}" alt="{{ book.title }} cover" class="img-fluid">
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title">{{ book.title }}</h1>
          <p class="card-subtitle">{{ book.author }}</p>
        </div>
        <div class="card-body">
          <p class="card-text">{{ book.description }}</p>
          <a href="{{ book.book_file.url }}" class="btn btn-primary btn-dark mt-1">Download</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

